<h1>Editing kita</h1>

<% form_for(@kita) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </p>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :details %><br />
    <%= f.text_area :details %>
  </p>
  <p>
    <%= f.label :age_from %><br />
    <%= f.text_field :age_from %>
  </p>
  <p>
    <%= f.label :age_to %><br />
    <%= f.text_field :age_to %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @kita %> |
<%= link_to 'Back', kitas_path %>